---
bg: res/bg.jpg
---

p {
  font-family: opensans;
  font-size: 16px;
  line-height: 1.6;
}

html, body {
  height: 100%;
  background-color: #eee;
  overflow-y: auto;
}

a {
  color: #00a2e7;
  text-decoration: none;
  transition: color .5s;
}

a:visited {
  color: #00a2e7;
  text-decoration: none;
}

a:hover {
  color: #b00000;
  text-decoration: none;
}

a.btn {
  color: #fff;
}

a > .img-fluid {
  border: 4px double transparent;
  transition: border .5s;
}

a > .img-fluid:hover {
  border: 4px double black;
}

video {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  font-weight: bold;
}

.dark {
  background-color: black;
}

.btn-light {
  border-radius: 0px;
  border: 2px solid #eee;
  color: #eee;
  background-color: transparent;
  transition: background-color .5s, color .5s;
}

.btn-light:hover {
  background-color: #eee;
  border-color: #eee;
  color: black;
}

.btn-dark {
  border-radius: 0px;
  border: 2px solid black;
  color: black;
  background-color: transparent;
  transition: background-color .5s, color .5s;
}

.btn-dark:hover {
  background-color: black;
  border-color: black;
  color: #eee;
}

.snap-y {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.snap-x {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.mono {
  font-family: monospace;
}

.carousel-item > img {
  object-fit: cover;
  width: 100%;
  height: 50vh;
}

.carousel-item > .img-fluid {
  //height: 62vh;
  max-height: 100%;
}

img.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  padding: 0px;
  margin: 8px;
}

.card-img-top {
  border-radius: 8px 8px 0px 0px;
}

.half {
  height: 50vh;
  overflow: auto
}

.carousel-caption > b {
  display: inline;
  background-color: #3335;
  border-radius: 4px;
}

.carousel-caption > * {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  cursor: none;
}

.justify {
  text-align: justify;
}

.display-4 {
  font-weight: bold;
}

.hoz-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ver-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2em;
  font-weight: bold;
  //margin: 0px;
}
  
.snap-points {
  scroll-snap-align: center;
}

.card-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 83vh;
  //margin: auto;
}

.navbar, .footer {
  //border: 1px solid black;
  //height: 7.5vh;
  //padding: auto;
}

.fade-on-view {
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s;
}

.fade-on-view.is-visible {
  opacity: 1;
  transform: translateY(0px);
}

.post {
  text-align: justify;
}

#post {
  width: 50%;
}

.post > p > img {
  max-width: 100%;
  height: auto;
}

.full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 48px 0px;
}

.gap {
  height: 5vh;
}

canvas {
  display: fixed;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  outline: none;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.footer-bar, .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  column-gap: 8px;
}

.bg {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75) 5%,
    rgba(0, 0, 0, .25),
    rgba(0, 0, 0, .75) 95%), url("{{ page.bg | relative_url }}");
  background-size: cover;
  color: #eee;
}

.round, img {
  border-radius: 8px;
}

#chart {
  width: 100%;
}

@media (orientation: portrait) {
  #chart {
    width: auto;
    height: 100%;
  }

  p {
    font-size: 14px;
    line-height: 1.4;
  }

  section {
    flex-direction: column;
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hero-logo {
    width: 120px;
    height: 120px;
  }

  .post > p > img {
    max-width: 100%;
    height: auto;
  }

  #post {
    width: 100%;
  }
}

@font-face {
  font-family: opensans;
  src: url("{{ 'fonts/OpenSans-Regular.ttf' | relative_url }}");
}

@font-face {
  font-family: opensans;
  font-weight: bold;
  src: url("{{ 'fonts/OpenSans-Bold.ttf' | relative_url }}");
}

@font-face {
  font-family: opensans;
  font-style: italic;
  src: url("{{ 'fonts/OpenSans-Italic.ttf' | relative_url }}");
}

@font-face {
  font-family: opensans;
  font-weight: bold;
  font-style: italic;
  src: url("{{ 'fonts/OpenSans-BoldItalic.ttf' | relative_url }}");
}

.flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.vert {
  height: 10%;
  transform: rotate(90deg);
}