* {
  box-sizing: border-box;
  font-family: "opensans";
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./res/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  perspective: 1000px;
}

#wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(33, 33, 33, .66), rgba(0, 0, 0, 0), rgba(33, 33, 33, .66));
  background-repeat: no-repeat;
  background-position: center;
  //border: 1px solid rgba(81, 81, 81, .75);
  //border-radius: 8px;
  transition: transform .5s;
  transform-style: preserve-3d;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#img-cont {
  display: none;
  width: 100%;
  height: 100%;
}

#img-cont img {
  width: 100%;
  height: 100%;
}

#content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  text-align: center;
}

.slides {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility .5s, opacity .5s;
  height: 100%;
  //border-radius: 8px;
  //border: 1px solid white;
}

.slide-img {
  display: flex;
  justify-content: center;
  align-items: center;
  //border-radius: 8px;
  padding: 8px;
  //border: 1px solid white;
  width: 30%;
  margin: 8px;
  max-height: 100%;
}

.slide-img img {
  //background-color: white;
  border-radius: 8px;
  object-fit: cover;
  max-width: 100%;
  height: auto
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: flex-start;
  width: 65%;
  margin: 8px;
  text-align: justify;
  height:;
  max-height: 100%;
}

.slide-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-item: flex-start;
  //margin: 8px;
  //height: 90%;
  //text-align: justify;
  //max-height: 100%;
  //border-radius: 8px;
  //border: 1px solid white;
}

.slide-btn {
  //margin-left: 8px;
  //height: 10%;
  margin-top: 8px;
}

.slide-btn button {
  background-color: rgba(33, 33, 33, .33);
  width: 25%;
  height: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid white;
  transition: width .5s;
}

.slide-btn button:hover {
  width: 30%;
  background-color: rgba(33, 33, 33, .75);
}

.slide-ctl {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(5% - 8px);
  //border: 1px solid white;
}

.slide-ctl img {
  margin: 0px 8px;
  max-height: 100%
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: rgba(33, 33, 33, .5);
  transition: background-color 0.5s, height 0.5s;
  border-radius: 0 0 8px 8px;
}

#header:hover {
  background-color: rgba(33, 33, 33, 1);
  height: 12%;
}

#header-text {
  margin: 2%;
}

#footer {
  display: flex;
  font-size: .95em;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 10%;
  transition: background-color 0.5s, font-size 0.5s;
  background-color: rgba(33, 33, 33, .5);
  border-radius: 8px 8px 0 0;
}

#footer:hover {
  background-color: rgba(33, 33, 33, 1);
  font-size: 1em;
}

.socials {
  display: flex;
  justify-content: space-between;
  height: 75%;
}

.socials img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  margin-left: 8px;
}

#logo {
  height: 100%;
  max-height: 100%;
  margin: 2%;
}

mark {
  background-color: rgba(33, 33, 33, .33);
  transition: background-color 0.5s;
}

mark:hover {
  background-color: rgba(33, 33, 33, 1);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .slides {
    flex-direction: column;
    justify-content: center;
    align-item: center;
    flex-wrap: nowrap;
    height: 100%;
    width: 95%;
    //overflow-y: auto;
  }

  .slide-img {
    width: 100%;
    height: 40%;
    margin: 0px;
    //border: 1px solid white;
  }

  .slide-img img {
    width: auto;
    max-height: 100%;
  }

  .slide-content {
    width: 100%;
    height: 65%;
    max-height: 65%;
    text-align: center;
    justify-content: space-between;
    //border: 1px solid white;
  }

  .slide-txt {
    width: 100%;
    max-height: 90%;
    height: 90%;
    //border: 1px solid white;
  }

  .slide-btn {
    width: 100%;
    height: 15%;
    max-height: 15%;
    //border: 1px solid white;
  }

  .slide-btn button {
    width: 90%;
    height: 100%;
  }

  .slide-btn button:hover {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@font-face {
  font-family: opensans;
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: opensans;
  font-weight: bold;
  src: url("./fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: opensans;
  font-style: italic;
  src: url("./fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: opensans;
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/OpenSans-BoldItalic.ttf");
}
