<div class="dark fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark py-2">
    <div class="container-md align-middle">
      <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ 'res/logo.png' | relative_url }}" width="32" height="32">
        &nbsp;MMCSB
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-link" href="{{ 'about' | relative_url }}">About Us</a>
          <a class="nav-link" href="{{ 'projects' | relative_url }}">Projects</a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="serviceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dark" aria-labelledby="serviceDropdown">
              {% include dropdown_item.html url="services/uniklinik.html" label="U.n.i. KLINIK" %}
              {% include dropdown_item.html url="services/ppv.html" label="PPVs" %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu dropdown-menu-dark dark" aria-labelledby="productDropdown">
              {% include dropdown_item.html url="products/newgenekit.html" label="NEWGENE Self Test Kit" %}
            </ul>
          </li>
          <a class="nav-link" href="{{ 'news' | relative_url }}">News</a>
          <a class="nav-link" href="{{ 'teams' | relative_url }}">Our Team</a>
          <a class="nav-link" href="{{ 'contacts' | relative_url }}">Contact Us</a>
        </div>
      </div>
    </div>
  </nav>
</div>