<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>

  <meta name="viewport" content="initial-scale=1, width=device-width"/>
  <meta name="description" content="{{ page.summary }}"/>
  <meta charset="UTF-8"/>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'site.webmanifest' | relative_url }}">

  <link href="{{ 'css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ 'css/styles.css' | relative_url }}" rel="stylesheet"/>

  <script src="{{ 'js/bootstrap.min.js' | relative_url }}" defer></script>
  <script src="{{ 'js/script.js' | relative_url }}" defer></script>
</head>

<body class="snap-y d-flex flex-column">
  <canvas></canvas>
  {% include navbar.html %}

  {{ content }}

  {% include footer.html fb="https://www.facebook.com/uniklinik.kualaketil" ig="https://www.instagram.com/uniklinik.kualaketil/" %}
</body>
</html>